@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Lexend+Tera:wght@100..900&family=Pacifico&family=Permanent+Marker&family=Rubik+Vinyl&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(red, blue, yellow);
    background-size: auto;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Rubik Vinyl', sans-serif;
    color: pink;
    background-color: aquamarine;
    text-align: center;
    letter-spacing: 2rem;
}

p {
    font-family: 'Pacifico', sans-serif;
    color: chartreuse;
    letter-spacing: 3rem;
}

ul {
    background-color: blanchedalmond;
}
li {
    color: darkgoldenrod;
}