@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Lexend+Tera:wght@100..900&family=Pacifico&family=Permanent+Marker&family=Rubik+Vinyl&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(red, blue, yellow);
    background-size: auto;
    min-height: 100%;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Rubik Vinyl', sans-serif;
    color: pink;
    background-color: aquamarine;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2rem;
}

h3 {
    text-align: center;
    margin-top: 20px;
}

p {
    font-family: 'Pacifico', sans-serif;
    color: chartreuse;
    font-size: 22px;
    text-align: center;
}

ul {
    background-color: blanchedalmond;
    margin-top: 100vh;
}
li {
    color: darkgoldenrod;
    padding-left: 100px;
    font-size: 40px;
}